.input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.comment-input {
  padding: 2rem;
  width: calc(100% - 2rem * 2)
}

.input-container form {
  flex-basis: 90%;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.input-comment {
  width: 90%;
  height: 100%;
}

.input-container button {
  width: 10%;
  height: 70%;
  align-self: start;
  color: white;
  background-color: hsl(238, 40%, 52%);
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .comment-input form {
    flex-direction: column;
  }
  .input-container button {
    height:6rem;
    align-self: end;
  }
  .input-comment {
    width:100%;
  }
}

@media (max-width: 768px) {
  .input-container button {
    width:25%;
  }
}

@media (max-width: 512px) {
  .input-container button {
    width:50%;
  }
}