.input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.comment-input {
  padding: 2rem;
  width: calc(100% - 2rem * 2)
}

.reply-input {
  padding: 2rem 0;
  border: 5px;
  border-top: 1px solid rgba(95, 95, 95, 0.2);
}

.reply-input div img {
  margin-left: 1rem;
}
.reply-input form {
  margin-right:1rem;
}

.input-container form {
  flex-basis: 90%;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.input-comment {
  width: 90%;
  height: 100%;
}

@media (max-width: 1024px) {
  .comment-input form {
    flex-direction: column;
  }
  .input-comment {
    width:100%;
  }
}