#root {
  max-width: 1620px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  text-align: left;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #767676;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  color: black;
}

.card-country {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card-country div {
  padding: 1rem;
}

.card-country img {
  width: 100%;
  height: 40%;
  border-radius: 5px 5px 0 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.filter-container input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #767676;
  padding: 0 1rem;
  background-color: white;
  color: #555555;
}

.filter-container select {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #767676;
  padding: 0 1rem;
  background-color: white;
  color: #555555;
}
