.comment-container {
  width: 100%;
}

.comment-box,
.comment-box--user_date,
.reply-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.comment-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-box h3 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.comment-box--text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #4a4b4d;
}

.comment-box span {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: hsl(238, 40%, 52%);
}

.comment-box--user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-box--user_date {
  align-items: center;
}

.comment-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.reply-button {
  align-self: start;
  margin-left: auto;
  color: hsl(238, 40%, 52%);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
}

.reply-button img,
.delete-button img {
  width: 15px;
  height: 15px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: hsl(358, 79%, 66%);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 0.3rem;
  cursor: pointer;
}
