.column-container {
  width: 20vw;
}

.column-container--create {
  width: calc(15vw - 8rem - 2rem);
}

.column-card-container,
.column-container--create {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: none;
}

.column-container--create {
  align-items: center;
  justify-content: center;
  background-color: #23232f;
  padding: 4rem;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 1rem;
}

.column-container--create h2 {
  font-size: 2rem;
  color: #858ea2;
}

.column__name {
  margin-left: 2.5rem;
  color: #858ea2;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.column__name::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  margin-right: 1rem;
  background-color: #8571f8;
}
