.sidebar {
  background-color: #2c2c38;
  flex-basis: 10%;
  border-right: 2px solid #3e3e4a;
  height: 100vh;
}

.sidebar__header {
  padding: 2.5rem;
}

.sidebar__logo {
  margin-bottom: 3vh;
}

.sidebar__button,
.sidebar__title--create,
.sidebar__title--active {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  gap: 0.9rem;
  text-transform: capitalize;
}

.sidebar__title img,
.sidebar__title--create img {
  width: 1.2rem;
  height: 1.2rem;
}

.sidebar__title {
  padding: 0 2.5rem;
}

.sidebar__title--create {
  margin-top: 1rem;
}

.sidebar__title--create h3 {
  color: #615ea1;
  font-size: 1rem;
}

.sidebar__title--create img {
  filter: invert(39%) sepia(55%) saturate(456%) hue-rotate(204deg)
    brightness(88%) contrast(71%);
}

.sidebar__title h3,
.sidebar__subtitle {
  color: #858ea2;
}

.sidebar__subtitle {
  font-size: 1rem;
}

.sidebar__title--active {
  background-color: #645fc6;
  border-radius: 0px 3rem 3rem 0px;
  width: 90%;
}

.sidebar__title--active img,
.sidebar__title--create img {
  margin-left: 2.5rem;
}

.sidebar__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
