#root {
  background-color: #21212d;
  width: 100vw;
  height: 100vh;
}

.main__container {
  display: flex;
  flex-direction: row;
}

.board-navbar__container {
  flex-basis: 90%;
  background-color: #2c2c38;
}
